/* app/globals.css or styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply text-white no-underline;
}

a:hover {
  @apply underline;
}

html, body {
  background-color: #111 !important;
  color: #eee !important;
}
